body {
    font-family: sans-serif;
}
.first{
    background-color: orange;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;
color: #000000;
text-decoration: none;
margin-left: 24px;
padding: 5px 4px 7px 7px;
border-radius: 10px;

}
header{
    background-color: #0776A0;
}
header img{

}
header{
    padding: 10px;
}
h1{
    text-align-last: center;
}
p img{
  margin-right: 30px; 
}
ul{
    list-style:url("https://learn.algoritmika.org/uploads/2021/01/Arrow%201_0_1611261359.svg");
   font-size: 20px;
}
p{
    color: red; 
    font-size: 30px;
}
h2{
    text-align: center;
    border-top: black 3px solid; 
    border-bottom:black 3px solid;
    font-size: 30px;padding: 20px;

}
footer{
  background-color: #0776A0;  
}
footer p{
    color: white;
    font-size: 20px;
  margin: 10px 10px 10px 10px;
}
